.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  color: var(--text-secondary);
  padding-inline: 4px;
  border-radius: 4px;
}

.breadcrumb{
  border-radius: 4px;
  padding-inline: 4px;
}

.breadcrumb:hover{
  background-color: var(--btn-secondary-hover);
}

.separator {
  opacity: 0.4;
  
}

.breadcrumb {
  white-space: nowrap;
  text-transform: capitalize;
}

.breadcrumb.clickable {
  cursor: pointer;
}

