.sidebar {
  height: 100vh;
  background: var(--bg-sidebar);
  border-right: 1px solid var(--border-default);
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: start;

  overflow: hidden;

  padding-top: 0px;
  padding-bottom: 0px;

  width: 300px;

  transition:
    width 220ms cubic-bezier(0.2, 0, 0, 1),
    background-color 120ms ease;
}

.sidebar-inner {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Sidebars header/profile section */

.sidebar-header{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px;
  box-sizing: border-box;
  padding-bottom: 8px;
}

.sidebar-header-main-item{
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-inline: 8px;
  border-radius: 6px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: start;

  gap: 8px;
}

.sidebar-header-main-item:hover{
  background-color: var(--hover-overlay);
}

/* Sidebars upper section */
.sidebar-nav{
  display: flex;
  flex-direction: column;
  padding-inline: 8px;
  box-sizing: border-box;
  background-color: transparent;
  gap: 1;
  padding-bottom: 12px;
}

/* Sidebar audios content */
.sidebar-content{
  display: flex;
  flex-direction: column;
  padding-inline: 8px;
  box-sizing: border-box;
}
