.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding-inline: 12px 10px;
    position: relative;
    background-color: var(--header-background-color);
}

.header-left{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-more-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 8px;
}