.toast-container {
  position: fixed;
  bottom: 0;
  transform: translate(50%);
  right: 50%;
  z-index: 111111;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 200px; */
  max-width: 350px;
  padding:  10px;
  padding-inline: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: #fff;
  font-weight: 510;
  font-size: 13px;
  animation: slideIn 0.3s ease;
  background: rgba(32, 32, 32, 0.65);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  text-align: center;

}

.toast-success {
  color: #ffff;
}

.toast-error {
  background-color: #EC5261;
}

@keyframes slideIn {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}



@media (max-width: 1024px) {
  /*  */
}
